.venv/
venv/
env/
.python-version
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
.DS_Store

runs/
plots/
build/
dist/

ttc/

*.o
*.obj
*.a
*.so
*.elf
*.bin
*.hex
controller_build/

sil/build/

.vscode/
*.swp
*.swo
